@import url(https://fonts.googleapis.com/css?family=Raleway:300, 700);
@import url("https://fonts.googleapis.com/css?family=Inconsolata");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
}



.content {
  /* display: flex;
  justify-content: center; */
  /* margin-top: 200px;
  font-size: 20px;
  color: #333;
  text-align: center; */
}

/* Estilos para las animaciones de las paginas */
.page-enter-active,
.page-leave-active {
  transition: all 0.5s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
  transform: scale(0);
}
